###data types and conversions
1.float
2.int
3.string

In [1]:
n1=13
print("n1=",n1)
type(n1)

n1= 13

int

In [2]:
s="apssdc"
print(s)
type(s)

apssdc

str

In [3]:
n2=13.26
print("n2=",n2)
type(n2)

n2= 13.26

float

In [4]:
n=12
m=12.35
type(n)
type(m)

float

In [6]:
n=12
m=4
print(type(n))
print(type(m))

<class 'int'>
<class 'int'>

In [8]:
n = 13
print(type(n))
print(type(str(n)))

<class 'int'>
<class 'str'>

In [9]:
n1=12
s=str(n1)
print(type(s))

<class 'str'>

In [10]:
num1='12'
num2='10'
print(num1+num2)

1210

In [11]:
s1="susma"
s2="ramya"
print(s1+s2)

susmaramya

In [12]:
n1=12
n2=12.4
print(n1+n2)

24.4

###indentation

In [15]:
n1,n2=13,12
if(n1>n2):
    print("n1 is lessthan n2")

n1 is lessthan n2

In [16]:
n1,n2=13,12
if(n1<n2):
    print("n1 is grarter than n2")
else:
    print("wrong statement")

wrong statement

In [17]:
### reading ninput dynamically

In [18]:
### Reading input dynamically

In [19]:
x = input()
print(x)
print(type(x))

123
123
<class 'str'>

###  Reading input dynamically

In [20]:
a = 123
print(type(a))
f = float(a)
print(type(f))
print(a)
print(f)

<class 'int'>
<class 'float'>
123
123.0

In [21]:
n = int(input("enter a value"))
print(n)
print(type(n))

enter a value23
23
<class 'int'>

### arithmatic operators

In [23]:
a,b = 5,3
print("a+b=",5+3)
print("a-b=",5-3)
print("a*b=",5*3)
print("a/b=",5/3)
print("a%b=",5%3)
print("a//b=",5//3)
print("a**b=",5**3)

a+b= 8
a-b= 2
a*b= 15
a/b= 1.6666666666666667
a%b= 2
a//b= 1
a**b= 125

In [24]:
### 2. assignment operators

In [25]:
a = 12
print(a)

12

In [26]:
a += 1
print(a)

13

In [27]:
a -= 1
print(a)

12

In [28]:
a **= 3
print(a)

1728

In [29]:
a //= 3
print(a)

576

##  Comparison operators

In [30]:
x,y = 12,14
print(x==y)

False

In [31]:
x,y = 5,7
print(x != y)

True

In [32]:
x,y = 6,7
print(x>y)

False

## logical operators
 1.and
 2.or
 3.not

In [36]:
a = 5
print(a<6 and a>2)
print(a<6 or a>2)

True
True

In [37]:
res = a<6 or a>2
print(not (res))

False

 ###  identity operators
 is
 is not

In [38]:
x,y = 5,3
print(x is y)

False

In [39]:
print(x is not y)

True

###  membership operators
-in
-not in

In [40]:
fruits = ["apple,gaova,grapes"]
print('apple'in fruits)

False

In [41]:
print('banan'not in fruits)

True

In [42]:
print("banana" in fruits)

False

### Bitwise operators
- &, |,^,>>,<<,~

In [44]:
a = int(input(enter 1st value:))
b = int(input(enter 2nd value:))
print(a)
print(b)

SyntaxError: invalid syntax (<ipython-input-44-09b80faa52f4>, line 1)

### Looping statements